<!doctype html>
<html>
<head>
  <meta name="description" content="hodss - looking for image designers" />
  <link
    rel="icon"
    href="/src/cdn/hodfolds.png"
    type="image/png"
  />
  <title>hodss - image designers needed</title>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
<link href="/public/style.css" rel="stylesheet" type="text/css">
 

</head>
  <body>
             <div class="sticky">
               
      <p> <a href="https://twitter.com/hodss_">
        Twitter</a> | 
        <a href="https://github.com/hodss">
          GitHub</a> |
        <a href="https://discord.com/users/950140983834718268">
          Discord</a> 
        <br>
        <br>
        &lt;/&gt; with &lt;3 by hod :)
      </p>
    </div> <div class="center">
      <a href="/portfolio">Portfolio</a> |
<a href="/">Home</a> | <a href="/license">License</a> 
      </div>
</p>
<div class="center" data-aos="fade">
  
<h1>I NEED ARTISTS!</h1>
  <br>

  <br>
  <h3> Simply put I need image designers, preferrably someone willing to design a logo for me.</h3>
<br>
  <br>
  Honestly I don't care unless the work is shown to me beforehand with a watermark, something big so that you know I can't steal it and get away with it, but so that I can see it.
  <br>
  <br>
  Following ways I can pay you:
  <br>
  Bitcoin Cash
  <br>
  Litecoin
  <br> 
  Discord Nitro Subscription(s)
  <br>
  <br>
  Please contact me at hod#2311 on Discord, if this becomes an invalid tag please wait until it's updated.
  <br>
  <br>
  Don't put too much effort, something around 10 to 15 dollars will be your payment, I prefer just outright giving you Nitro gifts since they are easiest, but if you don't use Discord enough to care, BTCC and LTC are open but will take longer to process and get.
</div>

<br>
<br>
<br>
<br>
<br>
<br>
    
<p style="text-align: left;">Copyright (&copy;) JWD "hod" | hod@hodss.xyz</p>
    
  </body>
</html>

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 1500,
    once: true,
  });
</script>