<!doctype html>
<html>
<head>
  <meta name="description" content="hodss, who am i? what do i do?" />
  <link
    rel="icon"
    href="/src/cdn/hodfolds.png"
    type="image/png"
  />
  <title>hodss</title>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
<link href="/public/style.css" rel="stylesheet" type="text/css">
 

</head>
  <body>
             <div class="sticky">
               
      <p> <a href="https://twitter.com/hodss_" target="_blank">
        Twitter</a> | 
        <a href="https://github.com/hodss" target="_blank">
          GitHub</a> |
        <a href="https://discord.com/users/950140983834718268" target="_blank">
          Discord</a> 
        <br>
        <br>
        &lt;/&gt; with &lt;3 by hod :)
      </p>
    </div>
<div class="center" data-aos="fade">
  <div>
     <p><a href="/imagedesigners" style="text-decoration: underline;">hod is looking for image designers!</a></p>
    <p><a href="/standwithukraine" style="text-decoration: underline;">#StandWithUkraine</a></p>
  </div>
<h1>Oh, Hello World!</h1>
  <br>
  <h2>I'm hod</h2>
  <br>
<p>
  <a href="/portfolio">Portfolio</a> |
<a href="/">Home</a> | <a href="/license">License</a> 
</p>


</div>
<div data-aos="fade">
 <img style="margin-left: auto; margin-right: auto;" src="/src/cdn/hodfolds.png" />
    </div>
<div style="padding: 40px;"></div>
<div class="knows" style="height: auto;">
  <p>I've been interested in Computer Science since, well, forever. I know a decent variety of different programming languages, however my strong suit is by far Web Development using HTML, CSS, and JavaScript to bring websites to life is one of my favorite things, however I'm fluent in over 7 different frameworks or languages, including, Express, Node, Fastify, Lua, HTML, CSS, JavaScript, and I'm working on Vue!</p>
</div>
<div style="padding: 40px;"></div>
  <div class="knows" style="height: auto;">
<p> Heres what you can see about me right now, there will probably be more later! <br> <br>
<a href="/portfolio">
  <li>Portfolio</li>
</a>
  <a href="/license" style="height: auto;">
  <li>The License that the majority of my works are under!</li>
</a>
</p>
    
  </div>

<br>
<br>
<br>

<p>Copyright (&copy;) JWD "hod" | hod@hodss.xyz</p>
    
  </body>
</html>

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 1500,
    once: true,
  });
</script>