<!doctype html>
<html>
<head>
  <meta name="description" content="hodss - portfolio" />
  <link
    rel="icon"
    href="/src/cdn/hodfolds.png"
    type="image/png"
  />
  <title>hodss</title>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
<link href="/public/style.css" rel="stylesheet" type="text/css">
 

</head>
  <body>
             <div class="sticky">
               
      <p> <a href="https://twitter.com/hodss_">
        Twitter</a> | 
        <a href="https://github.com/hodss">
          GitHub</a> |
        <a href="https://discord.com/users/950140983834718268">
          Discord</a> 
        <br>
        <br>
        &lt;/&gt; with &lt;3 by hod :)
      </p>
    </div>
    <div class="center" data-aos="fade">
<h1>Hello We've Switched to hodss.xyz instead of hodss.gq</h1>
<h2>A Modern Website Requires a Modern Domain</h2>
      <p>
  <a href="/portfolio">Portfolio</a> |
<a href="/">Home</a> | <a href="/license">License</a> 
</p>
      </div>
   <div class="knows" style="height: auto;" data-aos="fade"> <p>
  I've switched the primary website to this, but the old website will still redirect.
     <br>
     <br> you can click<u>
     <a href="/">here</a>
     </u>
     to get to the homepage!
</p>
   </div>
<br>
<br>
<br>
<br>
<br>
<br>
    
<p>Copyright (&copy;) JWD "hod" | hod@hodss.xyz</p>
    
  </body>
</html>

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 1500,
    once: true,
  });
</script>