<!doctype html>
<html>
<head>
  <meta name="description" content="hodss - portfolio" />
  <link
    rel="icon"
    href="/src/cdn/hodfolds.png"
    type="image/png"
  />
  <title>hodss - portfolio</title>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
<link href="/public/style.css" rel="stylesheet" type="text/css">
 

</head>
  <body>
             <div class="sticky">
               
      <p> <a href="https://twitter.com/hodss_">
        Twitter</a> | 
        <a href="https://github.com/hodss">
          GitHub</a> |
        <a href="https://discord.com/users/950140983834718268">
          Discord</a> 
        <br>
        <br>
        &lt;/&gt; with &lt;3 by hod :)
      </p>
    </div>
    <div class="center" data-aos="fade">
<h1>Welcome</h1>
<h2>This is a list of my experience in Web Development respectfully.</h2>
      <p>
  <a href="/portfolio">Portfolio</a> |
<a href="/">Home</a> | <a href="/license">License</a> 
</p>
      </div>
   <div class="knows" style="height: auto;" data-aos="fade"> <p>
     Hello, I am hod, a Software Engineer and Web Developer. In programming and computer science in general I have four years of total experience. My first development projects were on the platform "Roblox". As such my first programming language I got into was Lua, the primary use case for Roblox, however I never researched it as a primary language, and I still rarely use my skills that I have with it. Later on I began to experiment with HTML, later CSS, and now JavaScript and PhP. As of writing, I'm currently in around 5 different projects:
     <a href="https://hodss.gq" target="_blank"><li>This Website</li></a>
     <a href="https://github.com/codetrainerapp" target="_blank"><li>CodeTrainer</li></a>
     <a href="https://github.com/jusoftdev" target="_blank"><li>JuSoft Development</li></a>
     <a href="https://lacrp.tsscac.gq" target="_blank"><li>LACRP Web</li></a>
     <a href="https://github.com/spadescollective" target="_blank"><li>The Spades Software Collective and Consortium (TSSCAC)</li></a>
     <br>
     <br>
     Personally, I like to develop frontend websites, apps, and so forth, but I am capable of minimal backend, but my main focus is always minimal design. The feeling of the Google landing page is something I want to recreate, modernize, and use as a template for most of my projects. Good UI and frontend leads to happy users and more users. Have you ever visited one of those news sites where the whole screen is pratically covered in ads, navigation, links, et cetra? Well that's something I never want to see, it clutters the screen, makes it hard to concentrate makes it harder to find the page you're looking for, that's not what I want. I want to provide a professional, modern looking webpage.
</p>
   </div>
<br>
<br>
<br>
<br>
<br>
<br>
    
<p>Copyright (&copy;) JWD "hod" | hod@tsscac.gq</p>
    
  </body>
</html>

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 1500,
    once: true,
  });
</script>