<!doctype html>
<html>
<head>
  <meta name="description" content="hodss, who am i? what do i do?" />
  <link
    rel="icon"
    href="/src/cdn/hodfolds.png"
    type="image/png"
  />
  <title>hodss</title>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
<link href="/public/style.css" rel="stylesheet" type="text/css">
 

</head>
  <body>
     
    
  </div>
<div class="knows" style="width: 600px; padding: 30px; margin-top: 30px; height: auto;">
  <h1>Privacy Notice</h1>
<p id="privacy">Your Privacy is Our Priority. <br> <br>
When using any service offered by hodss.xyz or TSSCAC we may use some essential cookies to allow site function. Examples of this may be login cookies that allow us to continue to keep you signed in when on certain pages of our sites. We use analytical information only gatherable by looking at bandwidth expenses. Your data may be stored in a secure database only accessable via secure storage servers located in the United States of America and the United Kingdom. The data we may use from you is: Email, a username, and passwords. Your data is secure, and can be deleted at any time. You will also be notified if our privacy policies EVER change, so long as you are registered or email hod@hodss.xyz to request to be put on the mailing list. If you wish to have your data wiped, please email hod@hodss.xyz. We do not track you, ever!

</p> </div>
    <div class="center">
      <p>
<u>
  <a href="/"> Homepage
  </a>
  </u>
        </p>
    </div>
<br>



<p>Copyright (&copy;) JWD "hod" | hod@hodss.xyz</p>
    
  </body>
</html>

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 1500,
    once: true,
  });
</script>